.gpt3__brand{
    margin-top: 100px;
    flex-wrap: wrap;
}

.gpt3__brand div{
    flex: 1;
    max-width: 150px;
    min-width: 120px;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gpt3__brand-container{
    text-align: center;
}
