.gpt3__blog-container_articles{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--color-footer);
    transition: all 1s ease-in-out;
}

.gpt3__blog-container_articles:hover{
    background: var(--gradient-bar);
    transition: all 1s ease-in-out;
}

.gpt3__blog-container_articles-image{
    width: 100%;
    /* height: 100%; */
    background: var(--color-footer);
}

.gpt3__blog-container_articles-image img{
    width: 100%;
}

.gpt3_blog-container_article-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    height: 100%;
}

.gpt3_blog-container_article-content p{
    font-weight: bold;
    font-size: 11;
    color: white;
}

.gpt3_blog-container_article-content h3{
        font-weight: 800;
        font-size: 25;
        color: white;
        line-height: 30px;
        margin-bottom: 5rem;
}

.gpt3_blog-container_article-content p:last-child{
    cursor: pointer;
}

@media screen and (max-width: 550px) {
    .gpt3_blog-container_article-content p{
        font-size: 24px;
    }

    .gpt3_blog-container_article-content h3{
        font-size: 14px;
        line-height: 22px;
    }
}